/* Global Styles */
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	scroll-behavior: smooth;
}


/* Header Styles */
header {
	background-color: black;
	position: fixed;
	width: 100vw;
	top: 0;
	padding: 20px 0;
	z-index: 1000;
}

header nav ul {
	list-style: none;
	display: flex;
	justify-content: right;
	margin: 0;
	padding: 0;
}

header nav ul li {
	margin: 0 20px;
}

header nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.2rem;
	transition: color 0.3s ease;
}

header nav ul li a:hover {
	color: orange;
	text-decoration: none;
}

/* Hero Section */
#hero {
    height: 100vh;
    background: url("../images/background-picture.webp") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-content h1 {
	font-size: 3.5rem;
	margin-bottom: 10px;
}

.hero-content .highlight {
	color: orange;
	font-weight: bolder;
}

.hero-content p {
	font-size: 1.5rem;
	margin-bottom: 20px;
	color: white;
}

.hero-content .btn {
	background-color: lightgrey;
	padding: 12px 30px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	transition: background-color 0.3s ease;
}

.hero-content .btn:hover {
	background-color: orange;
}

/* About Section */
#about {
	position: relative;
	padding: 100px 20px;
	background-color: black;
	color: white;
	text-align: center;
	/* overflow: hidden; To hide overflow of galaxy animation */
}

#about .container {
	position: relative;
	z-index: 2;
	/* Ensure content is above the background animation */
}

#about h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: orange;
}

#about p {
	max-width: 700px;
	margin: 0 auto;
	font-size: 1.2rem;
	color: #ccc;
}

#about h3 {
	margin-top: 20px;
}

.container .blue {
	color: white;
	text-decoration: underline;
}

/* Galaxy Background*/
.galaxy-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/background-picture2.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

/* Keyframes for moving the galaxy */
@keyframes moveGalaxy {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(-1000px, -1000px);
	}
}

/* Proficient Section */
#proficient {
	color: white;
	text-align: center;
}

#proficient h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: orange;
}

#proficient ul {
	max-width: 500px;
	margin: 0 auto;
	font-size: 1.2rem;
	color: #ccc;
}

#proficient ul {
	list-style-type: none;
	padding-left: 0;
}

/* Links */
a {
	color: orange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Work Section */
#work {
	padding: 100px 20px;
	background-color: #222;
	text-align: center;
}

#work h2 {
	font-size: 2.5rem;
	color: orange;
}

.project-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	width: 100%;
}

.project {
	background-color: #333;
	padding: 20px;
	border-radius: 10px;
	transition: transform 0.3s ease ;
	text-align: center;
}

.project img {
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
	max-width: 300px;
	height: 300px;
}

.project:hover {
	transform: translateY(-10px);
}

/* Contact Section */
/* #contact {
	padding: 100px 20px;
	background-color: black;
	text-align: center;
}

#contact h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: orange;
}

form {
	max-width: 600px;
	margin: 0 auto;
}

form input,
form textarea {
	width: 90%;
	padding: 15px;
	margin: 10px 0;
	background-color: #222;
	border: none;
	color: white;
}

#message {
	width: 90%;
	height: 100px;
	padding: 15px;
	margin: 10px 0;
	background-color: #222;
	border: none;
	color: white;

} */

/*  form textarea{
  font-family: Arial, Helvetica, sans-serif;

} */

/* Contact Section */
#contact {
  padding: 100px 20px;
  background-color: black;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: orange;
}

.contact-info {
  margin-top: 30px;
  font-size: 1.2rem;
  color: white;
  line-height: 2;
}

.contact-info i {
  color: orange;
  margin-right: 10px;
}

.contact-info a {
  color: orange;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

form button {
	background-color: lightgray;
	padding: 12px 30px;
	border: none;
	color: black;
	font-size: 1.2rem;
	cursor: pointer;
}

form button:hover {
	background-color: orange;
}

/* Footer */
footer {
	background-color: #333;
	padding: 20px;
	text-align: center;
	color: white;
}

/* Responsive Layout for Smartphones */
@media (max-width: 768px) {
	.project-grid {
		grid-template-columns: 1fr;
	}

	.hero-content h1 {
		font-size: 2.5rem;
	}

	.icon-header {
		display: block;
		display: flex;
		justify-content: center;
		
		
		/* Add any specific laptop adjustments like spacing, font sizes, etc. */
	}

	.text-header {
		display: none;
	}
}

/*Responsive Layout Tablets */

@media (min-width: 601px) and (max-width: 1230px) {
	.project-grid {
		grid-template-columns: 2fr 2fr;
	}

	.hero-content h1 {
		font-size: 2.5rem;
	}

	.hero-content p {
		font-size: 1.3rem;
	}

	.icon-header {
		display: block;
		/* Add any specific laptop adjustments like spacing, font sizes, etc. */
	}

	.text-header {
		display: none;
	}

}

/* Hide both headers by default */
/* .icon-header, .text-header {
    display: block;
  } 

/* Styles for Laptops (1024px to 1279px) */
@media screen and (min-width: 1024px) and (max-width: 1279px) { 
	.text-header {
		display: block;
	}

	.hero-content h1 {
		font-size: 2.5rem;
		/* Slightly smaller than desktop */
	}
}

/* Styles for Desktops (1280px and above) */
@media screen and (min-width: 1280px) {

	/* Add styles specific to desktops */
	.text-header {
		display: block;
	}

	.hero-content h1 {
		font-size: 3rem;
		/* Larger font size for bigger screens */
	}

	.container {
		max-width: 1400px;
		margin: auto;
		/* Wider container for large screens */
	}
}

.project p {
	text-align: justify;
}